body {
  font-family: Verdana;
  font-size: 13px;
  color: rgb(221, 200, 241);
  background: rgb(124, 63, 94)
}

a {
  color:rgb(255, 0, 0)
}

.klor {
  text-align: center;
  text-indent: 20px;
}

p {
  text-align: center;
}