body {
  background: url(https://i.pinimg.com/originals/d5/20/48/d520485b5b9d17473427339a451d5827.jpg);
}

.button {
  border: 5px solid black;
  width: 200px;
  padding: 8px;
  margin: 7px;
  background: #000;
  height: 200px;
  background: linear-gradient(to bottom, #c71585, #db7093);
}
